body {
  margin: 100px;
  position: fixed;
}
.enter-city {
  border-color: #87d2cb;
  border-style: solid;
  border-width: 3px;
  padding: 8px;
  width: 488px;
  border: 10px 40px 10px 40px;
}
.btn {
  background-color: #1ab2a8;
  color: #ffffff;
  padding: 10px 12px;
  position: fixed;
  top: 100px;
  left: 605px;
}
.btn:hover {
  color: white;
  background-color: #15817a;
}
h1 {
  font-family: PT Mono, monospace;
  font-weight: bold;
  position: fixed;
  top: 160px;
  font-size: 30px;
}
.current-day {
  position: fixed;
  left: 110px;
  top: 330px;
  font-size: 18px;
  color: #b8bcc4;
  font-weight: bold;
  font-family: monospace;
  font-style: italic;
}
.current-time {
  position: fixed;
  left: 375px;
  top: 330px;
  color: #b8bcc4;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
}

.display-temperature {
  font-size: 70px;
  font-weight: bold;
  color: #1ab2a8;
  position: fixed;
  top: 210px;
  left: 225px;
}

.fahrenheit {
  color: #7a7c80;
  font-weight: bold;
  font-size: 17px;
  position: fixed;
  left: 315px;
  top: 213px;
  text-decoration: none;
}
.celsius {
  color: #7a7c80;
  font-weight: bold;
  font-size: 17px;
  position: fixed;
  left: 343px;
  top: 213px;
  text-decoration: none;
}
.fahrenheit:hover {
  color: #b8bcc4;
  cursor: default;
}
.celsius:hover {
  color: #b8bcc4;
  cursor: default;
}
.current-weather-icon {
  width: 100px;
  position: fixed;
  top: 200px;
  left: 110px;
}
.current-weather {
  font-size: 20px;
  position: fixed;
  left: 115px;
  top: 300px;
  color: #b8bcc4;
  font-style: italic;
}
.current-weather:first-letter {
  text-transform: capitalize;
}
.info {
  position: fixed;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  left: 440px;
  top: 200px;
  background-color: #d8f0ee;
  padding: 30px 60px;
  border-radius: 50px;
  color: #7c9fa9;
  list-style: none;
}
.days {
  word-spacing: 59px;
  position: fixed;
  top: 300px;
  left: 100px;
  color: #949aa9;
}
.weather-emojis {
  position: fixed;
  top: 350px;
  font-size: 45px;
  word-spacing: 40px;
  left: 117px;
}
.future-temperatures {
  color: #949aa9;
}
.weather-forecast {
  position: fixed;
  font-family: "Inconsolata", monospace;
  top: 360px;
  color: #7a7c80;
  font-weight: bold;
  margin: 0px 0px 40px 0px;
  text-align: center;
}
.forecast-temps {
  font-weight: normal;
  text-align: center;
}
.forecast-temp-min {
  color: #b8bcc4;
}

.open-source-code-link {
  position: fixed;
  top: 490px;
  color: #7a7c80;
}
.link-element {
  color: #1ab2a8;
  font-weight: bold;
}
.link-element:hover {
  color: #11726b;
}
